<mat-card>
    <h1 mat-dialog-title>Change Password</h1>
    <div mat-dialog-content>
        <form class="mat-dialog-content" #formControl="ngForm">
            <div class="form">
                <mat-form-field color="accent">
                    <input matInput #input minlength="2" maxlength="30" class="form-control" placeholder="Old Password"
                        name="oldPassword" ngModel required>
                    <!-- <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error> -->
                </mat-form-field>
            </div>
            <div class="form">
                <mat-form-field color="accent">
                    <input matInput #input minlength="2" class="form-control" placeholder="New Password"
                        name="newPassword" required ngModel>
                </mat-form-field>
            </div>
            <div class="form">
                <mat-form-field color="accent">
                    <input matInput #input minlength="2" class="form-control" placeholder="Confirm Password"
                        name="confirmPassword" required ngModel>
                </mat-form-field>
            </div>
            <br>
            <div mat-dialog-actions>
                <button mat-raised-button color="primary" type="submit" [disabled]="!formControl.valid"
                    class="mr-1" (click)="confirmAdd()">{{'Save'}}</button>
                <button mat-raised-button color="accent" (click)="goBack()" tabindex="" x="-1">Cancel</button>
            </div>
            <br />
        </form>
    </div>
</mat-card>