<h1 mat-dialog-title>OTP has verified - set new password </h1>
<div class="example-loading-shade" *ngIf="isLoadingResults">
  <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
</div>
<div mat-dialog-content>
  <form class="mat-dialog-content" [formGroup]="updatePwdForm">
    <div class="form">
      <mat-form-field color="accent">
        <input matInput placeholder="New Passoword" formControlName="userPwd" type="password" required>
        <mat-error *ngIf="userPwd.invalid && (userPwd.dirty || userPwd.touched)">
          <mat-error *ngIf="userPwd.errors.required">
            Password is required.
          </mat-error>
          <mat-error *ngIf="userPwd.errors.minlength">
            Password must be at least 6 characters long.
          </mat-error>
          <mat-error *ngIf="userPwd.errors.maxlength">
            Password must be at most 15 characters long.
          </mat-error>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="form">
      <mat-form-field color="accent">
        <input matInput placeholder="Confirm Password" formControlName="confirmPwd" type="password" required>
        <mat-error *ngIf="confirmPwd.invalid && (confirmPwd.dirty || confirmPwd.touched)">
          <mat-error *ngIf="confirmPwd.errors.required">
            Confirm password is required.
          </mat-error>
          <mat-error *ngIf="confirmPwd.errors.minlength">
            Confirm password must be at least 6 characters long.
          </mat-error>
          <mat-error *ngIf="confirmPwd.errors.maxlength">
            Confirm password must be at most 15 characters long.
          </mat-error>
          <mat-error *ngIf="confirmPwd.errors.compare">
            Password does not match the confirm password.
          </mat-error>
        </mat-error>
      </mat-form-field>
    </div>
    <div mat-dialog-actions>
      <button mat-raised-button color="primary" type="submit" [disabled]="disableButton || updatePwdForm.invalid" (click)="confirmAdd()"
        class="mr-1">{{disableButton? 'Saving & Sending mail...':'Set Password'}}</button>
      <button mat-raised-button color="accent" type="button" (click)="onNoClick()" tabindex="" x="-1">Cancel</button>
    </div>
    <br/>
    <!-- <div fxLayout="column" fxLayoutAlign="center center" class="mt-1" fxLayoutGap=".5rem">
      <a routerLink="/admin/login" class="mat-body-1 link">Go back to login</a>
    </div> -->
  </form>
</div>