.form {
    display: flex;
    padding-top: 6px;
  }
  
  .mat-form-field {
    font-size: 16px;
    flex-grow: 1;
  }

  .mat-dialog-content{
    overflow: hidden;
  }

  .example-loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 56px;
    right: 0;
    background: rgba(64, 63, 66, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }