
  <div class="session-form-hold session-lockscreen">
    <mat-progress-bar mode="determinate" class="session-progress"></mat-progress-bar>
    <mat-card>
      <mat-card-content>
        <div fxFlex="column" fxFlexWrap="wrap">
          <div fxFlexWrap="wrap" class="lockscreen-user">
            <img class="lockscreen-face" src="assets/images/logo.png" alt="">
            <h5 class="m-0 font-normal">John Doe</h5>
            <small class="text-muted">Last seen 1 hour ago</small>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>