table {
    font-family: 'Lato', sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    height:25px;
}

.mat-card-title {
    font-size: 1.25rem;
    font-weight: bold;
    color: #333333;
    font-family: 'Lato', sans-serif;
  }

  .mat-card {
    font-family: 'Lato', sans-serif;
    box-shadow: none;
}