<h1 mat-dialog-title>Tour Based Notification</h1>
<div mat-dialog-content style="margin:20px;">
  <div class="example-loading-shade" *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>
  <form class="mat-dialog-content" [formGroup]="notiForm">
    <div class="form">
      <mat-form-field color="accent">
        <mat-select placeholder="Select App" formControlName="type" multiple required>
          <mat-option value="C"><p style="margin-left: 15px;margin-top: 15px;">Student</p></mat-option>
          <mat-option value="S"><p  style="margin-left: 15px;margin-top: 15px;">Staff</p></mat-option>
        </mat-select>
        <mat-error *ngIf="type.invalid && (type.dirty || type.touched)" class="alert alert-danger">
          <mat-error *ngIf="type.errors.required">
            Please select App
          </mat-error>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="form">
      <mat-form-field color="accent">
        <mat-select placeholder="Tour Name" formControlName="tourid" multiple required>
          <mat-option *ngFor="let obj of tourList" [value]="obj.id">
            {{ obj.name }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="tourid.invalid && (tourid.dirty || tourid.touched)" class="alert alert-danger">
          <mat-error *ngIf="tourid.errors.required">
            Please select tour
          </mat-error>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="form">
      <mat-form-field color="accent">
        <input matInput placeholder="Title" formControlName="title" type="text" required>
        <mat-error *ngIf="title.invalid && (title.dirty || title.touched)">
          <mat-error *ngIf="title.errors.required">
            Title is required.
          </mat-error>
          <mat-error *ngIf="title.errors.minlength">
            Title must be at least 4 characters long.
          </mat-error>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="form">
      <mat-form-field color="accent">
        <textarea matInput placeholder="Description" formControlName="desc" type="text" required></textarea>
        <mat-error *ngIf="desc.invalid && (desc.dirty || desc.touched)">
          <mat-error *ngIf="desc.errors.required">
            Description is required.
          </mat-error>
          <mat-error *ngIf="desc.errors.minlength">
            Description must be at least 4 characters long.
          </mat-error>
        </mat-error>
      </mat-form-field>
    </div>
    <div mat-dialog-actions>
      <button mat-raised-button color="primary" type="submit" [disabled]="!notiForm.valid"
        (click)="confirmAdd()" class="mr-1">Send</button>
      <button mat-raised-button color="accent" type="button" (click)="onNoClick()" tabindex="" x="-1">Cancel</button>
    </div>
    <br />
  </form>
</div>