<h1 mat-dialog-title>Update Password</h1>
<div mat-dialog-content>
  <form class="mat-dialog-content" [formGroup]="updatePwdForm">
    <div class="form">
      <mat-form-field color="accent">
        <input matInput placeholder="New Passoword" formControlName="userPwd" type="password" required>
        <mat-error *ngIf="userPwd.invalid && (userPwd.dirty || userPwd.touched)">
          <mat-error *ngIf="userPwd.errors.required">
            Password is required.
          </mat-error>
          <mat-error *ngIf="userPwd.errors.minlength">
            Password must be at least 6 characters long.
          </mat-error>
          <mat-error *ngIf="userPwd.errors.maxlength">
            Password must be at most 15 characters long.
          </mat-error>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="form">
      <mat-form-field color="accent">
        <input matInput placeholder="Confirm Password" formControlName="confirmPwd" type="password" required>
        <mat-error *ngIf="confirmPwd.invalid && (confirmPwd.dirty || confirmPwd.touched)">
          <mat-error *ngIf="confirmPwd.errors.required">
            Confirm password is required.
          </mat-error>
          <mat-error *ngIf="confirmPwd.errors.minlength">
            Confirm password must be at least 6 characters long.
          </mat-error>
          <mat-error *ngIf="confirmPwd.errors.maxlength">
            Confirm password must be at most 15 characters long.
          </mat-error>
          <mat-error *ngIf="confirmPwd.errors.compare">
            Password does not match the confirm password.
          </mat-error>
        </mat-error>
      </mat-form-field>
    </div>
    <div mat-dialog-actions>
      <button mat-raised-button color="primary" type="submit" [disabled]="!updatePwdForm.valid" [mat-dialog-close]="1" (click)="confirmAdd()"
        class="mr-1">Update</button>
      <button mat-raised-button color="accent" type="button" (click)="onNoClick()" tabindex="" x="-1">Cancel</button>
    </div>
    <br/>
  </form>
</div>